*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
.container{
    border: black 1px thick;
    clear: both;
}
.title{
    margin-bottom: 30px;
}